body {
    margin: 0px;
    padding: 0px;
    width: auto;
}
header {
    height: 150px;
    display: flex;
    justify-content: center;
    background-position: relative;
    background: rgb(255,255,255);
    background: linear-gradient(193deg, rgba(255,255,255,1) 0%, rgba(218,217,215,1) 100%);
    width: screen-size;
}
.wrapper {
    position: relative;
    width: auto;
}
.container {
 color: black;
 width: auto;
}
img {
    margin-top: 20px;
    margin-left: 50px;
    height: 35px;
}
.Menu, .more {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 47px;
}
.menuItem,.more, .submenuItem {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    color: grey;
    margin-left: 2px;
    display: inline-block;
}
.menuItem:hover, .more:hover {
    border-bottom: rgb(46, 46, 165) solid 3px;
    cursor: pointer;
}
.more {
    position: fixed;
    border: 0px;
    margin: 0px;
    float: inline-block;
}
.submenu {
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}
.submenuItem {
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
}
ul {
    list-style-type: none;
    margin-bottom: 0px;
}
li {
    float: left;
    display: inline;
    padding: 0px;
}
#watchLive {
    position: absolute;
    top:10px;
    right: 0px;
    background: rgb(208,0,0);
    background: linear-gradient(0deg, rgba(208,0,0,1) 45%, rgba(255,16,16,1) 85%);
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    border: 0px none;
    padding: 10px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
}
summary::marker {
    font-weight: lighter;
}
th, td {
    border-bottom: solid black 1px;
    width: 100px;
    text-align: left;
    margin: 5px;
}
table {
    position: fixed;
    width: 150px;
    margin-top: 0;
    padding-top: 0px;
    text-align: left;
}
.adBanner {
    padding: 25px;
    text-align: center;
}
main {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(206,208,215,1) 100%);
    display: flex;
    background-position: relative;
    width: screen-size;
    justify-content: center;
}
h1 {
    text-transform: uppercase;
    color: rgb(70, 67, 67);
    letter-spacing: -1px;
    font-size: 35px;
    font-stretch: ultra-condensed;
    line-height: 50px;
    font-weight: lighter;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
}
.wrapperMain {
    position: relative;
    width: auto;
    display: block;
}
.containerTS {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 980px;
    overflow: hidden;
    padding: 10px 10px 10px 0px;
}
.cell:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s;
    background:inherit;
}
.cell:hover img {
    transform: scale(1.1);
    overflow: hidden;
    transition: 0.5s ease;
    display: inline-block;
}
.breaking:hover {
    background: rgb(255,245,0);
    background: linear-gradient(180deg, rgba(255,245,0,1) 0%, rgba(245,198,79,1) 100%);
}
.cell, .cellA, .cellF, .cellAS {
    color: grey;
    background-color: white;
    border: rgb(238, 236, 236) solid 5px;
    text-align: left;
    height: 400px;
    width: auto;
    font-weight: light;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    box-shadow:  5px 5px 15px -3px #ccc;
    margin-bottom: 5px;
}
.breaking {
    grid-row: 1;
    grid-column: 1/4;
    background: rgb(255,245,0);
    background: linear-gradient(180deg, rgba(255,245,0,1) 0%, rgba(245,198,79,1) 100%);
    color: black;
    font-weight:500;
    font-size: 30px;
}
.cell img {
    margin: 0px;
    padding: 0px;
    height: 40%;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    object-fit: cover;
}
.breaking img {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 67%;
    height: 100%;
    overflow: hidden;
    
}
.breaking p {
    margin-left: 650px;
}
.cell p {
    padding: 30px;

}
.gridCV {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 980px;
    overflow: hidden;
    padding: 10px 10px 10px 0px;
    margin-top: 0px;
    padding-top: 0px;
}
.buttonLM {
    position: relative;
}
.loadMore {
    border-radius: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(38, 38, 126);
    width: 115px;
    height: 43px;
    border: 1px solid rgb(38, 38, 126);
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}
.loadMore:hover {
    color: white;
    background-color: rgb(38, 38, 126);
    cursor: pointer;
}
.containerVideos {
    background-color: rgb(38, 38, 126);
    color: white;
    height: fit-content;
    padding-right: 0px;
    margin-right: 0px;
    width: 980px;
    overflow-x: scroll;
    margin-top: 30px;
}
.containerVideos h1 {
    color: white;
    font-weight: lighter;
    padding-bottom: 0;
    margin-bottom: 0px;
}
.videosMI {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    color: white;
    margin-right: 40px;
    margin-top: 0px;
    padding-bottom: 20px;
    margin-left: -20px;
    display: inline-block;
}
.videosMI:hover {
    border-bottom: 2px solid white;
}
.videosMenu {
    border-bottom: 1px solid rgb(247, 247, 247);
    display: inline-block;
    width: 1000px;
    margin-left: 25px;
    position: relative
}
video {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 250px;
    height: 150px;
    margin-left: 20px;
    padding-left: 0px;
}
.gridA {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    width: 980px;
    overflow: hidden;
    padding: 10px 10px 10px 0px;
}
.cellA:hover {
    cursor: pointer;
    transition: 0.5s;
    background:inherit;
}
.cellA:hover h2 {
    color: black;
    text-decoration: none;
}
.cellA:hover p{
    text-decoration: underline;
}
.cellA img {
    border-radius: 50%;
    padding: 50px;
    height: 25%;
    width: 50%;
    margin:auto;
    display: flex;
    
}
.cellA h2 {
    font-size: 15px;
    font-weight: lighter;
    color:rgb(4, 4, 167);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:0;
    margin: 0;
}
.cellA {
    text-align: center;
    height: 600px;
}
.cellA p{
    margin:0;
    padding: 0px 20px 0px 20px;
}
.cell3A {
    justify-content: center;
    text-align: center;
    background-color: black;
}
.gridF {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 980px;
    overflow: hidden;
    padding: 10px 10px 10px 0px;
}
.cellF:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s;
    background:inherit;
}
.cellF:hover img {
    transform: scale(1.1);
    overflow: hidden;
    transition: 0.5s ease;
    display: inline-block;
}
.cellF img {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.cellF {
    height: 250px;
}
.cellF p {
    padding-left: 500px;
    font-size: 30px;
    margin: auto;
    padding-top: 50px;
}
.gridAS {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: auto;
    width: 980px;
    grid-gap: 20px;
}
.cellAS img {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.cellAS {
    height: 550px;
}
.cellAS p {
    padding: 50px 25px 50px 25px;
    font-size: 30px;
    margin: auto;
}
.containerMR {
    height: auto;
    display: block;
    width: 980px;
    overflow: hidden;
    padding: 10px 10px 50px 0px;
}
.gridMR {
    color: grey;
    background-color: white;
    border: rgb(238, 236, 236) solid 5px;
    text-align: left;
    height: 400px;
    width: auto;
    font-weight: light;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    box-shadow:  5px 5px 15px -3px #ccc;
    margin-bottom: 5px;
    height: 320px;
}
.listMR {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr  1fr;
    grid-gap: 20px;
}
.cellMR {
    padding-left: 20px;
    padding-right: 20px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.number {
    font-size: 25px;
    font-weight: lighter;
    color: rgb(10, 10, 161);
    font-style: normal;
    display: inline;
    padding: 0px;
    margin: 0px;
    float:left;
}
hr {
    border: rgb(228, 228, 228) 0.5px solid;
    margin-top: 22px;
}
.cellMR:hover p{
    text-decoration: underline;
    cursor: pointer;
}
em:hover{
    text-decoration: none;
}
.cellMR p {
    padding-left: 30px;
    padding-top: 0;
    display: flex;
    margin: auto;
    
}
.containerFooter {
    display: block;
    margin: auto;
    width: 980px;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
}
.socialMedia {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 980px;
    display: block;
    margin-left: -35px;
}
.footerSMLI {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 40px;
}
.footerSM img {
    padding: 0px;
    margin: 0px;
    height: 20px;
    display: inline-block;
    margin-top: 10px;
    filter: grayscale(100%);
}
.footerSMLI:hover img {
    filter: grayscale(0%);
}
.footerSMLI:hover {
    text-decoration: underline;
}
.gridFooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.headingFooter {
    font-size: 20px;
    font-weight: lighter;
    padding-left: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.footerList {
    padding:0px;
    padding-left: 25px;
}
.footerListLI {
    width: 230px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    display: block;
}
.footerListLI:hover {
    background-color: rgb(218, 218, 218) ;
    text-decoration: underline;
    cursor: pointer;
}
.footerOther {
    font-size: 14px;
    padding: 0px;
    padding-bottom: 20px;
}
.FOlistLI {
    margin-right: 70px;
    padding: 5px;
    margin-left: -40px;
}
.FOlistLI:hover {
    background-color: rgb(218, 218, 218) ;
    text-decoration: underline;
    cursor: pointer;
}
.footerimg {
    float: left;
    padding: 0px;
    margin: 0px;
    padding-right: 15px;
}
.copyright{
   
    display: flex;
    margin: auto;
    padding-top: 8px;
}
.other {
    padding-bottom: 30px;
}
/* to fix: menu in the header goes over articles, shimmer border, 
images in cells to not resize, width to be adjustable, 
videos menu not to move, sccroll horizontally videos/